# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Terminal Status'
      'submenu': [
        { 'label': 'New', 'command': 'terminal-status:new' }
        { 'label': 'Toggle', 'command': 'terminal-status:toggle' }
        { 'label': 'Prev', 'command': 'terminal-status:prev' }
        { 'label': 'Next', 'command': 'terminal-status:next' }
      ]
    ]
  }
]
