###
  Atom-terminal-panel
  Copyright by isis97
  MIT licensed

  Keybindings for the plugin.
###


'.platform-darwin atom-workspace':
  'shift-enter': 'atom-terminal-panel:toggle'
  'cmd-shift-t': 'atom-terminal-panel:new'
  'cmd-shift-j': 'atom-terminal-panel:next'
  'cmd-shift-k': 'atom-terminal-panel:prev'
  'cmd-shift-x': 'atom-terminal-panel:destroy'
  'ctrl-`': 'atom-terminal-panel:toggle'
  'ctrl': 'atom-terminal-panel:toggle-autocompletion'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'shift-enter': 'atom-terminal-panel:toggle'
  'alt-shift-t': 'atom-terminal-panel:new'
  'alt-shift-j': 'atom-terminal-panel:next'
  'alt-shift-k': 'atom-terminal-panel:prev'
  'alt-shift-x': 'atom-terminal-panel:destroy'
  'ctrl-`': 'atom-terminal-panel:toggle'
  'ctrl': 'atom-terminal-panel:toggle-autocompletion'

'.atp-panel':
  'cmd-c': 'native!'
  'ctrl-c': 'native!'

'.atp-panel-body':
  'escape': 'atom-terminal-panel:toggle'
