# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin atom-workspace':
  'shift-enter': 'terminal-panel:toggle'
  'cmd-shift-t': 'terminal-panel:new'
  'cmd-shift-j': 'terminal-panel:next'
  'cmd-shift-k': 'terminal-panel:prev'
  'cmd-shift-x': 'terminal-panel:destroy'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'shift-enter': 'terminal-panel:toggle'
  'alt-shift-t': 'terminal-panel:new'
  'alt-shift-j': 'terminal-panel:next'
  'alt-shift-k': 'terminal-panel:prev'
  'alt-shift-x': 'terminal-panel:destroy'

'.cli-status':
  'cmd-c': 'native!'
  'ctrl-c': 'native!'
