# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin .workspace':
  'shift-enter': 'terminal-status:toggle'
  'cmd-shift-t': 'terminal-status:new'
  'cmd-shift-j': 'terminal-status:next'
  'cmd-shift-k': 'terminal-status:prev'

'.platform-linux .workspace, .platform-win32 .workspace':
  'shift-enter': 'terminal-status:toggle'
  'alt-shift-t': 'terminal-status:new'
  'alt-shift-j': 'terminal-status:next'
  'alt-shift-k': 'terminal-status:prev'
